/* Shows Styling */
.highlightOnHover:hover {
  background: rgba(248, 249, 250, .75);
}

.list-group {
  max-height: 90vh;
  overflow: scroll;
}

.list-group-item {
  border-radius: 1px;
}

.return-btn {
  display: inline-block;
}

.list-item-font {
  font-size: 16px;
}

.bio-font {
  font-size: 12px;
  overflow: scroll;
  height: 25vh;
}

.content-section-details{
  padding: 1.5%;
  border-radius: 5px;
  border: solid;
  border-color: white;
  border-width: 1px;
}

.add-border {
  transition: border 0.4s ease;
  opacity: 1;
  border-radius: 5px;
  border: solid;
  border-color: gray;
  border-width: 1px;

}

.remove-border {
  transition: border 0.4s ease;
  opacity: 1;
  border-radius: 5px;
  border: solid;
  border-color: white;
  border-width: 1px;
}

/* Footer Styling */
.fixed-bottom {
  display: flex;
  align-items: flex-start
}

.footer-col>ul {
  list-style-type: none;
  font-size: 10px;
  justify-content: flex-start;

}

.footer-col>li {
  margin-left: 0;
  padding-left: 0;
}

.footer-col>p {
  font-size: 12px;
}


/* Alert Styling */
.alert-item {
  border: none;
}

/* Login View Styling */
.login-image-section {
  background: url('./Images/bts-future-selves-background-image.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.login-content {
  display: flex;
}

.login-content-section {
  margin: auto;
}

/* Cart Styling */
.nothing-in-cart-text{
  text-align: center;
  color: #616060;
  opacity: 0.5;
}

.nothing-in-cart-image{
 opacity: 0.5;
}

.show-header{
  background-color: #ff420f;
  color: white;
}

.show-list-item{
  color: #ff420f;
  border-color: #ff420f;
}

.show-list-item:nth-child(odd){
  color: #ff420f;
  background-color: #fac5b5;
  /* background-color: rgba(255, 66, 15, 0.75) */

}

.lgi-header{
  border-top: none;
}

.alert-item{
  margin: 0;
  padding: 0;
  margin-bottom: -5;
}

.loading-image{
  color: white;
  background: url('./Images/bts-future-selves-background-image.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.sort-btn{
  border: none;
}

.no-info-logo{
  opacity: 0.5;
}

.sort-btn{
  border: none;
}

.sort-btn:hover{
  color: #ff420f;
}