html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* Shows Styling */

.list-group {
  max-height: 90vh;
  overflow: scroll;
  overflow-x: hidden;
  overflow: -moz-scrollbars-none;
  /* scrollbar-width: none; */
  -ms-overflow-style: none;
}


/* .list-item-mobile {
  min-height: 45vh;
} */

.mobile-view{
  overflow: scroll;
  width: 100vw;
}

li {
  list-style: none;
}

/* .set-height{
  max-height: 55vh;
} */

.list-group-mobile {
  max-height: 90vh;
  overflow: scroll;
}

.list-group::-webkit-scrollbar {
  width: 0;
}

.list-group-item {
  border-radius: 1px;
  padding: .5rem 1.25rem;
}

.return-btn {
  display: inline-block;
}

.list-item-font {
  font-size: 16px;
}

.bio-font {
  font-size: 12px;
  overflow: scroll;
  height: 20vh;
}

.content-section-details {
  padding: 1.5%;
  border-radius: 5px;
  border: solid;
  border-color: white;
  border-width: 1px;
}

.add-border {
  transition: border 0.4s ease;
  opacity: 1;
  border-radius: 5px;
  border: solid;
  border-color: gray;
  border-width: 1px;

}

.remove-border {
  transition: border 0.4s ease;
  opacity: 1;
  border-radius: 5px;
  border: solid;
  border-color: white;
  border-width: 1px;
}

/* Footer Styling */
.fixed-bottom {
  display: flex;
  align-items: flex-start
}

.footer-col>ul {
  list-style-type: none;
  font-size: 10px;
  justify-content: flex-start;

}

.footer-col>li {
  margin-left: 0;
  padding-left: 0;
}

.footer-col>p {
  font-size: 12px;
}


/* Alert Styling */
.alert-item {
  border: none;
}

/* Login View Styling */
.login-image-section {
  background: url('./Images/bts-future-selves-background-image.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.login-content {
  display: flex;
}

.login-content-section {
  margin: auto;
}

/* Cart Styling */
.nothing-in-cart-text {
  text-align: center;
  color: #616060;
  opacity: 0.5;
}

.nothing-in-cart-image {
  opacity: 0.5;
}

.show-header {
  display: flex;
  flex-direction: column;
  background-color: #ff420f;
  color: white;
  min-height: 0;
}

.show-list-item {
  color: #ff420f;
  border-color: #ff420f;
}

.show-list-item:nth-child(odd) {
  color: #ff420f;
  background-color: #fac5b5;
  /* background-color: rgba(255, 66, 15, 0.75) */

}

.lgi-header {
  border-top: none;
}

.alert-item {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

.loading-image {
  color: white;
  background: url('./Images/BTS-redrocks-website-crop.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.loading-image-mobile {
  color: white;

  background: url('./Images/BTS-redrocks-spacebus-mobile-flat.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.loading-header {
  margin-top: 35vh;
  text-align: center;
  /* background: rgba(0, 0, 0, .75) */
}

.loading-text-main {
  font-size: 75px;
}

.sort-btn {
  border: none;
}

.no-info-logo {
  opacity: 0.5;
}

.sort-btn {
  border: none;
}

.sort-btn:hover {
  color: #ff420f;
}

.bts-orange-bg {
  background-color: #ff420f;
  color: white;
}

.bts-white-bg {
  background-color: white;
  color: #ff420f;
}

.search-height {
  height: 25px;
}

.form-control-sm {
  width: 200px;
}

.inline-block {
  display: -webkit-inline-flex;
  display: flex;
}

.round-img {
  border-radius: 30px;
}

.nav-flex,
.cart-flex {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.display-flex {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}


.show-list-flex {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

p {
  font-size: 14px;
}

.detail-btn {
  background: #ffffff;
  border-color: #ff420f;
  color: #ff420f;
}

.detail-btn:hover {
  background: #ff420f;
  color: #ffffff;
}

.search-bar {
  border: none;
}

.align-left {
  margin-top: 8px;
  text-align: left;
}

.cart-item-font {
  font-size: 12px;
  font-weight: bold;
}

.red-text {
  color: red;
  font-weight: bold;
}

.black-text {
  color: black;
}

.remove-border {
  border: none;
  margin-top: -3;
  padding: 0;
}

.remove-border:hover {
  background: #ffffff;
  color: #616060;
}

.my-facebook-button-class {
  height: 45px;
  padding: 1rem;
  border: none;
  font-weight: bold;
  color: white;
  background-color: #ff420f;
}

.biophoto {
  width: 100px;
  border-radius: 30px;
}

.phil {
  background-color: #ff420f;
}

.teamMemberName {
  font-weight: bold;
  font-size: 20px;
}

.memberParagraph {
  font-size: 15px
}

.aboutUsPage {
  border-color: #ff420f;
  border-width: 1px;

}

.limit-height {
  height: 60vh;
}

.person {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.linkedInLogo {
  width: 30px;
  margin-right: 15px
}

.loading-btn:hover {
  color: #ff240f;
}

.logo-img {
  height: 67px;
  width: 154px;
}

.bts-logo-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-left: 1.5vw;
  opacity: .75;
}

.bts-logo-sDV {
  height: 60px;
  width: 150px;
}

.about-us-flex,
.login-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.future-selves {
  height: 75vh;
  width: 45vw;
}

.login-btn {
  font-weight: bold;
}

.login-btn:hover {
  font-weight: bold;
  color: #ff420f;
}

.warning-text {
  font-size: 12px;
  line-height: 16px;
}

.add-top-margin {
  margin-top: 4.5vh;
}

.mobile-view {
  height: 100vh;
  width: 100vw;
}



@media only screen and (max-width:300px) {
  .biophoto {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .make-bigger {
    align-self: flex-end;
    margin-left: 9em;
  }
}