.highlightOnHover:hover {
  background: rgba(248, 249, 250, .75);
}

.list-group {
  max-height: 90vh;
  overflow: scroll;
}

.list-group-item {
  border-radius: 5px;
}

.return-btn {
  display: inline-block;
}

.fixed-bottom {
  display: flex;
  align-items: flex-start
}

.footer-col>ul {
  list-style-type: none;
  font-size: 10px;
  justify-content: flex-start;

}

.footer-col>li {
  margin-left: 0;
  padding-left: 0;
}

.footer-col>p {
  font-size: 12px;
}

.alert-item {
  border: none;
}

.login-image-section {
  background: url('./Images/bts-future-selves-background-image.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.login-content {
  display: flex;
}

.login-content-section {
  margin: auto;
}

.list-item-font {
  font-size: 16px;
}

.bio-font {
  font-size: 10px;
  overflow: scroll;
  height: 25vh;
}

.add-border {
  transition: border 0.4s ease;
  opacity: 1;
  border-radius: 5px;
  border: solid;
  border-color: gray;
  border-width: medium;
}