.highlightOnHover:hover{
  background: rgba(61, 61, 61, .1);
}

.list-group-item{
  border-radius: 5px;
}

.return-btn{
  display: inline-block;
}

.fixed-bottom{
  display: flex;
  align-items: flex-start
}

.footer-col > ul{
  list-style-type: none;
  font-size: 10px;
  justify-content: flex-start;
  
}

.footer-col > li{
  margin-left: 0;
  padding-left: 0;
}

.footer-col > p{
  font-size: 12px;
}